{% extends "_main.html" %}

{% block title %} Artes - Skills {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 border-right">
                <div class="photo"></div>
                <span class="user-name">User Name</span>
                <a class="link" href="mailto:useremail@example.com">useremail@example.com</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                <h2>Skills</h2>
            </div>
        </div>
    </div>
{% endblock %}